---
import { ClientRouter } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";


const title = "Astronautical Astronaut";
const description = "A simple Astro project to demonstrate the basics of Astro.";
---
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<Layout>
    <Hero/>
</Layout>

<ClientRouter />